<html lang="eng">
    <head>
        <title>Definisher - {{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8"/>
        <link href="http://fonts.googleapis.com/css?family=Cabin:400,500,600,bold" rel="stylesheet" type="text/css" >
        <link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,bold" rel="stylesheet" type="text/css" >
        {% block css %}{% endblock %}
    </head>
    <body>
    {% block container %}{% endblock %}
    </body>
</html>
